// variables

// colors
$orange: #cc5012;
$black: #24292d;
$black-opacity: rgba(36, 41, 45, .8);
$grey: #ebe5d7;
$darkgrey: #6f848f;

// fonts
$fontFancy: 'Great Vibes', cursive;
$fontSans: 'Open Sans', sans-serif;
$fontSerif: 'Lora', serif;